<?xml version="1.0"?>

<configuration>
      
  <appSettings>
    <add key="noSSL" value="false"/>
    <add key="maintenanceMode" value="false"/>
    <add key="TempDirectory" value="Temp"/>
    <add key="SecurityKey" value="SigcAcvilaSeqKey"/>
    <add key="SecurityKey" value="SigcAcvilaSeqKey"/>
  </appSettings>

  <connectionStrings>
    <add name="mainDBConnectionString" connectionString="Data Source=SQL5013.Smarterasp.net;Initial Catalog=DB_9CAC4C_sigc;User Id=DB_9CAC4C_sigc_admin;Password=sigcacvila;" providerName="System.Data.SqlClient" />
 </connectionStrings>
    
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>		
        <customErrors mode="Off"/>		
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx"/>
    </authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  
</configuration>
