<?xml version="1.0"?>

<configuration>
      
  <appSettings>
    <add key="noSSL" value="false"/>
    <add key="maintenanceMode" value="false"/>
    <add key="TempDirectory" value="Temp"/>
    <add key="SecurityKey" value="SigcAcvilaSeqKey"/>
    <add key="SecurityKey" value="SigcAcvilaSeqKey"/>
  </appSettings>

  <connectionStrings>
    <!-- MSSQL connection 
        <add name="ta_db_connection" connectionString="Data Source=APPSVR\SQLEXPRESS2005;Initial Catalog=hrpmtatex;user id=sa; password=Gra8meya4" providerName="System.Data.SqlClient" /> 
    -->
    <!-- PGSQL connection -->
    <add name="mainDBConnectionString" connectionString="Data Source=192.168.2.222\SQLEXPRESS; Initial Catalog=sigc;User Id=sigc;Password=sigcacvila;" providerName="System.Data.SqlClient" />
 </connectionStrings>
    
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="Login.aspx"/>
    </authentication>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
